* {
  box-sizing: border-box;
}

body {
  background-color: #7bdaf3;
  display: flex;
  flex-wrap: wrap;
  font-family: "roboto", sans-serif;
  margin: 0;
  padding-top: 3rem;
}

.add {
  position: fixed;
  top: 1rem;
  right: 1rem;
  border: none;
  color: #fff;
  background-color: #9ec862;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 3px;
}

.notes {
  box-shadow: 0 0 14px 10px rgba(0, 0, 0, 0.1);
  height: 400px;
  width: 400px;
  background-color: #fff;
  margin: 30px 20px;
}
.notes .tools {
  background-color: #9ec862;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.notes .tools button {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.notes textarea {
  outline: none;
  font-family: inherit;
  height: 400px;
  width: 100%;
  font-size: 1.3rem;
  padding: 20px;
  border: none;
}

.hidden {
  display: none;
}

.main {
  padding: 20px;
}
